
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CF0A0A;
    border: 2px solid #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 400px;
    height: 550px;
    position: absolute;
    top: 10%;
    gap: 30px;
    filter: drop-shadow(1px 1px 10px #fff);
    -webkit-filter: drop-shadow(1px 1px 10px #fff);
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 60%;
}

img {
    width: 100px;
    height: 70px;
    filter: drop-shadow(10px 10px 50px #fff);
    -webkit-filter: drop-shadow(10px 10px 50px #fff);
}

p#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.research {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 50%;
}

input[type = 'text'] {
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 350px;
    height: 35px;
    outline: transparent;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input[type = 'text']:focus {
    border: 1px solid #000;
}

button:enabled {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 300px;
    background-color: #fff;
    color: #000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

button:disabled {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 300px;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
    -webkit-transform: 0.3s;
    -moz-transform: 0.3s;
    -ms-transform: 0.3s;
    -o-transform: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

button:enabled:hover {
    filter: drop-shadow(2px 2px 20px #fff);
    -webkit-filter: drop-shadow(2px 2px 20px #fff);
}